@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


@font-face {
    font-family: Mars;
    src: url(./Fonts/Mars.ttf);
}

@font-face {
    font-family: 'Mars Bold';
    src: url(./Fonts/Mars\ Bold.ttf);
}

@font-face {
    font-family: 'Mars Thin';
    src: url(./Fonts/Mars\ Thin.ttf);
}

*{
    padding: 0;
    margin: 0;
    color: white;
}


body{
    background: url(./Images/Star\ BG\ in\ UI.png) no-repeat center center / cover,url(./Images/Star\ BG\ in\ UI.png) no-repeat center center / cover,url(./Images/Main\ BG.png) no-repeat center center / cover,url(./Images/Main\ BG.png) no-repeat center center / cover,url(./Images/Main\ BG.png) no-repeat center center / cover,url(./Images/Main\ BG.png) no-repeat center center / cover, url(./Images/flare.png) no-repeat center,url(./Images/Nebula\ GIF.gif) no-repeat center center / cover, radial-gradient(rgba(0, 0, 0, 0.199),rgba(0, 0, 0, 0.226));
    background-attachment: fixed;
    height:100vh;
    background-color: black;
    color: white;
}
body::-webkit-scrollbar{
    display: none;
}

a{
    cursor: pointer;
    text-decoration: none;
}

button{
    cursor: pointer;
}

.main{
    height: 100vh;
    /* background-image: radial-gradient(rgba(0, 0, 0, 0.199),rgba(0, 0, 0, 0.226)); */
    /* background-attachment: fixed; */
}


.about-us-head{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-us-head h1{
    font-family: 'Amatic SC', cursive;
    font-size: 72px;
    line-height: 91px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.about-us{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.about-us-img-sec{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.blob{
    position: absolute;
}

#blob-1{
    height: 334px;
    width: 334px;
}

#blob-2{
    height: 365px;
    width: 338px;
}

#about-us-ait{
    position: relative;
    height: 275px;
    top: 3em;
    left: 2em;
}

.about-us-points{
    width: 655px;
    font-family: 'Dm Sans';
    list-style: disc;
    font-size: 16px;
    line-height: 18px;
}

.meet-team-btn{
    border-radius: 2.97px;
    border: white solid 1px;
    color: black;
    padding: 12px 20px 12px 20px;
    font-family:'Space Grotesk', sans-serif;
    font-weight: bolder;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

@media only screen and (max-width: 880px) {
    .main{
        height: 100vh;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.541),rgba(0, 0, 0, 0));
    }
    #about-us-head{
        font-size: 56px;
    }

    .about-us{
        flex-direction: column;
        margin: 50px 0px 0px;
    }

    .about-us-points{
        width: 90vw;
        margin: 34px 34px 50px;
    }
    .blob{
        left: 50%;
        transform: translateX(-50%);
    }
    #blob-1{
        height: 250px;
        width: 250px;
    }
    #blob-2{
        height: 250px;
        width: 250px;
    }
    #about-us-ait{
        height: 250px;
        top: 1em;
        left: 55%;
        transform: translateX(-50%);
    }
}
