@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


@font-face {
    font-family: Mars;
    src: url(./Fonts/Mars.ttf);
}

@font-face {
    font-family: 'Mars Bold';
    src: url(./Fonts/Mars\ Bold.ttf);
}

@font-face {
    font-family: 'Mars Thin';
    src: url(./Fonts/Mars\ Thin.ttf);
}

.events{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.event-head{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.event-box{
    min-height: 350px;
    min-width: 350px;
    margin: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.e1{
    background: url(Images/events/event\ 1.png);
    background-size: contain;
}
.e2{
    background: url(Images/events/event\ 2.png);
    background-size: contain;
}
.e3{
    background: url(Images/events/event\ 3.png);
    background-size: contain;
}
.e4{
    background: url(Images/events/event\ 4.png);
    background-size: contain;
}

.e5{
    background: url(Images/events/event\ 5.png);
    background-size: contain;
}
.e6{
    background: url(Images/events/event\ 6.jpg);
    background-size: contain;
}
.event-box a{
    font-family: Space Grotesk;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    position: relative;
    top: 87%;
    left: 15px;
}

@media only screen and (max-width: 887px) {
    .event-box{
        margin: 8px;
    }
}
