@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Sans&family=Space+Grotesk&display=swap');

body{
    background-image: url(./Images/Star\ BG\ in\ UI.png),url(./Images/Star\ BG\ in\ UI.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
}
 
a{
    text-decoration: none;
}

*{
    color: white;
    padding: 0;
    margin: 0;
}

.main{
    height: max-content;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0));
}

.location-section{
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map{
    border:0;
    border-radius:10px;
    width: 350px; 
    height: 320px;
}

.location-address{
    margin-left: 72px;
    width: 490px;
    text-align: left; 
}

.location-address h1{
    font-size: 0.7cm; 
    font-family: 'Space Grotesk'; 
    font-weight: 200;
}
.location-address p{
    margin-top: 2rem; 
    font-family: 'Space Grotesk'; 
    opacity: 0.6;
}


.location-text{
    font-size: 2.8rem;
    padding: 2rem 0 0 0; 
    font-family:'Amatic SC', cursive ;
    font-weight: 300;
}
.busbtn{
    border-radius: 2.97px;
    border: white solid 1px;
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 12px 40px 12px 40px;
    margin: 4rem 0 4rem 0 ;
    font-family:'Space Grotesk';
}

footer{
    background-color: black;
    font-family: 'DM Sans' , sans-serif;
    
}

.foot-div{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 0 2rem ;
}

.foot-text{
    display: flex;
    justify-content: space-between;
}

.social-media{
    margin-top: 26px;
}

.social-media > img{
    margin-right: 23px;
}

.foot-link > a{
    color: #9B9B9B;
}

.text-social-section{
    padding-top: 3rem;
}

.foot-link{
    margin-right: 135px;
}

@media only screen and (max-width: 1200px){


    .foot-div{
        display: block;
        padding: 0px 30px;
    }

    .foot-text{
        margin-top: 5rem;
    }

    .social-media > img{
        margin-right: 23px;
    }

    .text-social-section{
        padding: 0 0 0 0;
        display: flex;
        justify-content: space-between;
    }

    .social-media{
        margin-right: 1rem;
    }

}


@media only screen and (max-width: 887px) {
    .main{
        margin-top: 0;
        /* height: min-content; */
    }

    .location-text{
        margin-top: 0rem;
        padding-top: 0rem ;
    }
    .location-section{
        flex-direction: column-reverse;
    }
    .location-address{
        width: fit-content;
        margin-bottom: 30px;
    }

    .busbtn{
        margin: 3rem 0 3rem 0rem;
    }

    footer{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .foot-div{
        padding: 0px 500px;
    }
    .text-social-section p{
        margin-top: 10px;
    }
    .twitter,.facebook{
        display: none;
    }

    .footer-svce-logo{
        width: 220px;
    }

    .foot-div{
        padding: 1rem 0rem 0 1rem ;
    }

    .foot-link{
        margin-right: 2rem;
    }

    .social-media > img{
        margin-right: 15px;
    }

    .text-social-section{
        padding-right: 0;
    }
}

@media only screen and (max-width: 396px){
    .foot-link{
        margin-right:0rem ;
        margin-left: 0;
    }

    .social-media > img{
        margin-right: 3px;
    }

    .footer-svce-logo{
        width: 180px;
    }
    .foot-div{
        margin-right: 1rem;
    }
    .map{
        width: 280px;
    }
    .location-address{
        margin: 10px 0px 20px;
        width: 280px;
    }

    .social-media{
        margin-right: 0px;
    }
    .text-social-section > section > p{
        font-size: smaller;
    }
}
